.user-profile img {
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
    padding: 0;
    margin: 0;
    border: 15px solid transparent;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }
  
.user-profile a:hover img {
    -webkit-transform: scale(1.06, 1.06);
    transform: scale(1.06, 1.06);
}

.repository-list{
    margin-top:1vw;
}

.user-login{
    font-size: medium;
    font-weight: 300;
}

.user-redirects{
    color:#495057 !important;
    text-decoration: none;
}

.user-redirects:hover{
    cursor: pointer;
    color:blue !important;
}